<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
</head>
<body>
    <div class="flexTx">
        <div class="tx">
            <h2 class="lutx">歡迎光臨</h2>
            <div class="lutx">很高興見到你</div>
        </div>
    </div>
</body>
</html>